

header {
   
    text-decoration: none;
	list-style: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    padding: 1% 5%;
    justify-content: space-between;
    align-items: center;
    z-index:  13;
    background-color: rgba(0, 0, 0, 0.2);
}

header nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav ul li {
    margin-left: 10%;
}

header nav ul li a {
    padding: 0.5vw 3vh;
    color: #fff;
    border-radius: 50px;
    
    font-size: 1.3em;
    background: none;
    font-family: 'Bogart', sans-serif;
    font-weight: 550;
}

header nav ul li a:hover {
    background: rgb(255, 255, 255); /* Highlight color on hover */
    color: #000000;
    transform: scale(1.1); /* Slight scaling effect on hover */
}

header nav ul li a.active {
    background: rgb(71, 161, 191);
    color: #000;
}

.logo-container {
    background-color: white; /* Background blanc derrière l'image */
    padding: 1% 3vh;
    border-radius: 10px;
    width: 17%;
    margin-left: -2%;
    
    
}

#ibo {
    width: 80%;
    height: auto;
    border-radius: 10px;
    margin-left: 10%;

}

::-webkit-scrollbar {
    width: 10px;
    height: 8px; 
}
::-webkit-scrollbar-track {
    background: linear-gradient(to right, #2c2c2c, #000000);
}
::-webkit-scrollbar-thumb {
    background: linear-gradient(to right, #f0d605, #f3701a);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(to right, #f7df6d, #f3701a);
}