@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    height: 300vh;
    background-color: #ffffff;
    color: #fff;
    margin: 0;
    font-family: 'Roboto Slab', serif;
}

.parallax {
    position: relative;
    width: 100%;
    height: 100vh; 
    overflow: hidden;
}

.second-band {
    position: absolute;
    top: -2%;
    left: 0;
    width: 100%;
    height: 6%;
    background: linear-gradient(135deg, rgba(36, 100, 82, 0.518), rgb(17, 131, 74)); 
    z-index: 2;
    box-shadow: 2px 8px 20px rgba(0, 0, 0, 0.3); 
    backdrop-filter: blur(15px); 
    border-top: 3px solid rgba(255, 255, 255, 0.5);
    border-bottom: 3px solid rgba(0, 0, 0, 0.2); 
    transition: all 6s ease;
    overflow: hidden;
    clip-path: inset(0 0 0 0);
    border-radius: 10px;
}



.parallax img {
    position: absolute;
    width: 100%;
    height: auto;
}

#plain {
    top: -0.08%;
    left: 0;
    z-index: 2;
}

#mount {
    top: 0;
    left: 0;
    z-index: 1;
}
#pirate {
    left: 5%;
    top: 8%;
    z-index: 1;
    width: 36%;
    height: auto;
    transform: rotate(20deg) scale(1);
    transition: transform 1.5s ease-in-out, filter 0.3s ease, box-shadow 0.3s ease;
    animation: scrollPirate 5s ease-in-out infinite;

    
    filter: drop-shadow(0 0 15px rgba(255, 255, 255, 0.7))
            drop-shadow(0 0 30px rgba(255, 255, 255, 0.5));
    
    
}

/* Adding a hover effect to enhance the interactivity */
#pirate:hover {
    transform: rotate(25deg) scale(1.05);
    filter: drop-shadow(0 0 25px rgba(255, 255, 255, 0.9))
            drop-shadow(0 0 50px rgba(255, 255, 255, 0.7));
}

@keyframes scrollPirate {
    0% {
        top: 10%;
        left: 5%;
        transform: rotate(25deg) scale(1);
    }
    50% {
        top: 15%;
        left: 6%;
        transform: rotate(30deg) scale(0.9);
    }
    100% {
        top: 10%;
        left: 5%;
        transform: rotate(25deg) scale(1);
    }
}


body {
    scroll-behavior: smooth;
}

#pirate.scroll-animation {
    animation: scrollPirate 3s ease-out forwards;
}



.leaderboard-bg {
    background-color: rgb(62, 130, 62); 
    height: 200vh; 
    position: relative;
    padding: 5%;
}


.band {
    position: relative; 
    top: 5%;
    left: 0;
    height: 5%;
    background: linear-gradient(135deg, rgba(47, 249, 165, 0.6), rgba(45, 140, 85, 0.6)); 
    z-index: 9999; 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
    backdrop-filter: blur(10px);
    border-radius: 20px; 
    border: 5px solid rgba(255, 255, 255, 0.3); 
    transition: all 1s ease; 
}
.leaderboard{
    position: relative;
    background-color: blue;
    width:100%;
    height: 70%;
    z-index: 9999; 

}

.leaderboard-title {
    text-align: center;
    margin-top: 3%;
    margin-bottom: 0%;
    margin-left: 10%;
    margin-right: 10%;
}

.leaderboard-title h1 {
    position: relative;
    font-size: 4vw;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 2px 2px 15px rgba(0, 0, 0, 0.7);
    background: linear-gradient(135deg, #31adbb, #0e8088);
    padding: 20px 40px; 
    border-radius: 20px; 
    display: inline-block;
    border: 5px solid rgba(255, 255, 255, 0.3); 
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.5), 0 0 15px rgba(21, 118, 129, 0.7) inset;
}

.leaderboard-title h1::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: -10px;
    left: -10px;
    right: -10px;
    border: 2px solid #ffffff; 
    border-radius: 25px; 
    z-index: -1; 
    opacity: 0.6; 
}

#youtube_logo{

    width: 15%;
    height: auto;
    scale: 1.5;


}
/* Leaderboard  */
.leaderboard {
    position: relative;
    top: 15%;
    margin: 0;
    width: 100%;
    height: 70%;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
    background: linear-gradient(135deg, #3cb572, #23ac5a, #0f6f3fbe); 
    animation: gradientAnimation 2s ease infinite;
    background-size: 200% 200%;
    display: none;
}
.leaderboard.active {
    display: block; /* Only the active table is displayed */
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

table {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 3%;
    width: 90%;
    height: 90%;
    border-collapse: collapse;
    font-family: 'Roboto Slab', serif;
}

th, td {
    padding: 1%;
    text-align: center;
    border: 2px solid #ffffff;
    transition: background-color 0.3s ease, color 0.3s ease;
    
}

th {
    padding: 1%;
    font-size: 1.8vw;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.3);
    
    letter-spacing: 0.1em;
    border-bottom: 3px solid #ffffff; 
    font-weight: 700;
}

td {
    padding: 0.5%;
    font-size: 1.6vw;
    color: #ffffff;
    font-weight: 900;
    letter-spacing: 0.05em; 
    background-color: rgba(0, 0, 0, 0.2); 
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5); 
    transition: transform 0.2s ease, background-color 0.3s ease;
}

td:hover {
    background-color: rgba(255, 255, 255, 0.3);
    color: #000000;
    transform: scale(1.05); 
    text-shadow: none;
}


th:nth-child(1),
td:nth-child(1) {
    background-color: rgba(0, 100, 160, 0.7); /* Dark Blue */
}

th:nth-child(2),
td:nth-child(2) {
    background-color: rgba(0, 85, 128, 0.7); /* Dark Green */
}

th:nth-child(3),
td:nth-child(3) {
    background-color: rgba(25, 43, 135, 0.7); /* Dark Red */
}

th:nth-child(4),
td:nth-child(4) {
    background-color: rgba(45, 112, 160, 0.7); /* Dark Brown */
}

th:nth-child(5),
td:nth-child(5) {
    background-color: rgba(11, 126, 184, 0.7); /* Dark Gold */
}

th:nth-child(6),
td:nth-child(6) {
    background-color: rgba(84, 170, 212, 0.7); /* Dark Gold */
}

/* Hover effect */
th:hover, td:hover {
    background-color: rgba(255, 255, 255, 0.3); 
    color: #000000; 
}

td a {
    color: #47a7ff;
    text-decoration: none;
}

td a:hover {
    text-decoration: underline;
}

/* ----------------------BUTTON---------------------------------------- */
.band {
    position: relative;
    top: 12%;
    width: 60%;
    height: 7%;
    margin: 0 19% ;
    background: linear-gradient(135deg, rgba(88, 200, 153, 0.6), rgba(45, 140, 85, 0.6)); 
    z-index: 1; 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
    backdrop-filter: blur(10px);
    transition: all 0.3s ease; 
    display: flex; 
    justify-content: center;
    align-items: center;
    z-index: 99999999;
}

.band:hover {
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
    transform: scale(1.01); 
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center; 
    gap: 20px; 
    z-index: 2;
}


.leaderboard-button {
    background-color: #28a745;
    color: #fff;
    font-size: 1.8vw;
    font-family: 'Roboto Slab', serif;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease, transform 0.2s ease, font-size 0.3s ease;
}

.leaderboard-button:hover {
    background-color: #218838;
    transform: translateY(-2px);
}

.leaderboard-button:active {
    background-color: #50fd78;
    transform: translateY(0);
}

.leaderboard-button.active {
    background-color: #0a451b;
    transform: translateY(-2px);
    box-shadow: 0 7px 20px rgba(0, 0, 0, 0.4);
}
