
.repertory {
    position: relative;
    padding: 1% 2%;
    margin-bottom: 10%;
    left: 5%;
    width: 100%; 
    max-width: 600px; 
    background-color: rgba(206, 206, 206, 0.3);
    backdrop-filter: blur(200px);
    border: 2px solid #ccc;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Bogart', sans-serif;
    font-weight: 600;
    font-size: 3vw; 
    text-decoration: none;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    color: white;
    z-index: 3;
    top: 10%;
    margin: 10% 0% ;
}

@media (max-width: 768px) {
    .repertory {
        font-size: 4vw; /* Adjust font size for smaller screens */
    }
}

@media (max-width: 480px) {
    .repertory {
        font-size: 5vw; /* Further adjust font size for smaller screens */
    }
}


.repertory:hover {
    background-color: rgba(151, 151, 151, 0.267);
}


section {
    top: -6%;
    margin-top: -3%;
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}



section img {
    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
   

}
.sec {
    position:relative;
    top: 50%;
    background-color: #5b5b1f;
    height: 100%;
}

/*-----------------------------------------------------*/

/* --- Start progress bar --- */

.process-wrapper {
    
    max-width:100%;
    position: relative;
    top: 9%;
}
#progress-bar-container {
    position:relative;
    width:100%;

    margin:auto;
    height:150px;
    margin-top:4.5%;
}

#progress-bar-container ul {
    padding:0;
    margin:0;
    padding-top:15px;
    z-index:9999;
    position:absolute;
    width:100%;
    margin-top:-10px; /*cercle points mois*/
}

#progress-bar-container li:before {
    content:" ";

    display:block;
    margin:auto;
    width:50px;
    height:50px;
    border-radius:50%;
    border:solid 2px #1F3B29;
    transition:all ease 0.3s;
     
}

#progress-bar-container li.active:before, #progress-bar-container li:hover:before {
    border:solid 2px #fff;
         
    background: linear-gradient(to right, #fff 0%,#00A7AF 100%); /*Cercles*/
}

#progress-bar-container li {
    list-style:none;
    float:left;
    width:20%;
    text-align:center;
    color:#aaa;
    
    
    cursor:pointer;
    font-weight:700;
    transition:all ease 0.2s;
    vertical-align:bottom;
    height:60px;
    position:relative;
}

#progress-bar-container li .step-inner {
    position:absolute;
    width:100%;
    bottom:-150%;
    top: 260%;
    font-size: 2vw;
}

#progress-bar-container li.active, #progress-bar-container li:hover {
    color:#fff; 
    text-shadow: 0 1px 0 #fff, 0 1px 0 #000000;
}

#progress-bar-container li:after {
    content:" ";
    display:block;
    width:6px;
    height:6px;
    background:#777;
    margin:auto;
    border:solid 7px #fff;
    border-radius:50%;
    margin-top:50px; /*juste les petits points*/
    box-shadow:0 2px 13px -1px rgba(0,0,0,0.3);
    transition:all ease 0.2s;
     
}

#progress-bar-container li:hover:after {
    background:rgb(0, 255, 64, 1.0);
}

#progress-bar-container li.active:after {
   background:#00AFA7;
}

#progress-bar-container #line {
    width:80%;
    margin:auto;
    background: #eee;
    height:10px;
    position:absolute;
    left:10%;
    top:72%;
    z-index:1;
    border-radius:50px;
    transition:all ease 0.9s;
}

#progress-bar-container #line-progress {  
    content:" ";
    width:3%;
    height:100%;
    background: #0826BD;     
    background: linear-gradient(to right, #AF0000 0%,#FFC300 50%, #5EF828 100%); 
    position:absolute;

    z-index:2;
    border-radius:50px;
    transition:all ease 0.9s;
    filter: brightness(1.5);
}

#progress-content-section {
    width:90%;
    margin: auto;

    background: #f3f3f3;
    border-radius: 20px;
}

#progress-content-section .section-content {
    padding:30px 40px;
    margin-top: 10%;
    text-align:center;
}

#progress-content-section .section-content h2 {
    font-size:2.5vw;
    
    color:#333;
    letter-spacing:1px;
}

#progress-content-section .section-content p {
    font-size:1.5vw;
    line-height:1.8em;
    color:#777;
}

#progress-content-section .section-content {
    display:none;
    animation: FadeInUp 700ms ease 1;
    animation-fill-mode:forwards;
    transform:translateY(15px);
    scale: 100%;
    opacity:0;
}

#progress-content-section .section-content.active {
    display:block;
}

@keyframes FadeInUp {
    0% {
        transform:translateY(15px);
        opacity:0;
        scale: 0%;
    }
    80% {
        transform:translateY(20px);
        scale: 110%;
        opacity:0.8;
    }
    
    100% {
        transform:translateY(0px);
        opacity:1;
        scale: 100%;
    }
}
/*---------------------------TIMELINE--------------------------*/
.timeline {
    position: relative;
    max-width: 95%;
    margin: 0 auto;
    top: 10%;
    font-family: cursive; /* Utilisation de la police cursive */
}

.timeline-bar {
    position: absolute;
    width: 1vw;
    background: #ddd;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -0.5vw;
}

.timeline-item {
    display: flex;
    align-items: stretch;
    padding: 20px 0;
    position: relative;
    width: 100%;
    justify-content: space-between;
}

.timeline-item .timeline-content,
.timeline-item .timeline-image {
    width: 45%;
    display: flex;
    flex-direction: column; /* Pour que le texte prenne tout l'espace vertical */
    align-items: center;
    justify-content: center;
}

.timeline-item .timeline-content {
    padding: 20px;
    background: rgba(206, 206, 206, 0.3);
    backdrop-filter: blur(200px);
    border: 2px solid #ccc;
    border-radius: 8px;
    text-align: center;
    font-size: 18px; /* Taille du texte pour les grands écrans */
    line-height: 1.6; /* Espacement entre les lignes */
}

.timeline-item:nth-child(odd) .timeline-content {
    order: 1;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.timeline-item:nth-child(odd) .timeline-image {
    order: 2;
    margin-left: 2.5%;
    margin-bottom: 2%; /* Espace en dessous de chaque élément */
}

.timeline-item:nth-child(even) .timeline-content {
    order: 2;
    margin-right: 2.5%;
    margin-left: 2.5%;
}

.timeline-item:nth-child(even) .timeline-image {
    order: 1;
    margin-right: 2.5%;
    margin-bottom: 20px; /* Espace en dessous de chaque élément */
}

.timeline-item .timeline-content h2,
.timeline-item .timeline-content p {
    margin: 0;
    width: 80%; /* Le texte prend toute la largeur disponible */
}

.timeline-item .timeline-image img {
    width: 70%;
    height: auto;
    border-radius: 8px;
    margin: 5% 0;
}

@media (max-width: 768px) {
    .timeline-bar {
        left: 0;
        width: 2px;
        margin-left: 0;
    }

    .timeline-item {
        flex-direction: column;
        align-items: flex-start;
    }

    .timeline-item .timeline-content,
    .timeline-item .timeline-image {
        width: 70%;
        margin: 10px 0;
        order: initial;
        text-align: left;
    }

    .timeline-item .timeline-content {
        margin-left: 0;
        font-size: 2rem; /* Taille du texte pour les petits écrans */
    }

    .timeline-item .timeline-image {
        margin-right: 0;
    }
  
}
