/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap'); */

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    /* font-family: Oswald, sans-serif; */
    text-decoration: none;
    list-style: none;
    
}

body {
    height: 800vh;
    margin: 0;
    overflow-x: hidden;
    text-decoration: none;
    list-style: none;
}

p{
    font-family: 'Bogart', sans-serif;
    
}



.progress-image {
    display: block; 
    margin: 0 auto; 
    border-radius: 10px; 
    border: 3px solid #000000; 
    max-width: 100%; 
    transition: transform 0.3s ease, border-color 0.3s ease; 
}

.progress-image:hover {
    transform: scale(1.05);
    border-color: #ffffff; 
}

.band {
    position: absolute; 
    top:0%;
    width: 100%;
    height: 1.5%;
    background: linear-gradient(135deg, rgba(88, 200, 153, 0.6), rgba(45, 140, 85, 0.6)); 
    z-index: 9999; 
   
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
    backdrop-filter: blur(10px);
    transition: all 0.3s ease; 
}


.band:hover {
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
    transform: scale(1.01); 
}


.repertory {
    position: relative;
    padding: 1% 2%;
    width: 100%; 
    background-color: rgba(206, 206, 206, 0.3);
    backdrop-filter: blur(200px);
    border: 2px solid #ccc;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Bogart', sans-serif;
    font-weight: 600;
    font-size: 3vw; 
    text-decoration: none;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    color: white;
    z-index: 3;
  
   
   
}

@media (max-width: 768px) {
    .repertory {
        font-size: 4vw; 
    }
}

@media (max-width: 480px) {
    .repertory {
        font-size: 5vw;
    }
}


.repertory:hover {
    background-color: rgba(151, 151, 151, 0.267);
}




.sec {
    position: relative;
    margin-top: 0;
    padding-top: 10%;
    background: linear-gradient(135deg, #4b8652, #457b4b); 
    height: 80%;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
    overflow: hidden; 
   
    transition: transform 0.3s ease-in-out;
    justify-content: center;  
}

.sec::before {
    content: '';
    position: absolute;
    top: -0.5%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 3vh;
    background: linear-gradient(135deg, #ffffff, #eeeeee); 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out, ;
    opacity: 0.8;
    
}
/* --- Start progress bar --- */

.process-wrapper {
    
    margin: 5% 0;
    max-width:100%;
    position: relative;
    top: 9%;
}
#progress-bar-container {
    position:relative;
    width:100%;

    margin:auto;
    height:150px;
    margin-top:4.5%;
}

#progress-bar-container ul {
    padding:0;
    margin:0;
    padding-top:15px;
    z-index:9999;
    position:absolute;
    width:100%;
    margin-top:-10px;
    
}

#progress-bar-container li:before {
    content:" ";

    display:block;
    margin:auto;
    width:50px;
    height:50px;
    border-radius:50%;
    border:solid 2px #1F3B29;
    transition:all ease 0.3s;
     
}

#progress-bar-container li.active:before, #progress-bar-container li:hover:before {
    border:solid 2px #fff;
         
    background: linear-gradient(to right, #fff 0%,#00A7AF 100%); .timeline {
    position: relative;
    max-width: 95%;
    margin: 0 auto;
    top: 10%;
    font-family: cursive; 

}

.timeline-bar {
    position: absolute;
    width: 1vw;
    background: linear-gradient(to bottom, #ffdd00, #fbb034);
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -0.5vw;
    border-radius: 1vw;
}

.timeline-item {
    display: flex;
    align-items: stretch;
    padding: 2% 0;
    position: relative;
    width: 100%;
    justify-content: space-between;
}



.timeline-item .timeline-circle {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #2712b0;
    border-radius: 50%;
    left: 50%;
    margin-left: -10px;
   
    
}

.timeline-item .timeline-content,
.timeline-item .timeline-image {
    width: 60%;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    
}

.timeline-item .timeline-content {
    padding: 0%;
    height: 0%;
    margin-top: 5%;
    background: rgba(206, 206, 206, 0.3);
    backdrop-filter: blur(200px);
    border: 2px solid #ccc;
    border-radius: 8px;
    text-align: center;
    font-size: 1.5rem;
    line-height: 1.2; 
    font-family: 'Bogart', sans-serif;
 
}


.timeline-item:nth-child(odd) .timeline-content {
    order: 1;
    margin-left: 5%;
    margin-right: 5%;
}

.timeline-item:nth-child(odd) .timeline-image {
    order: 2;
    margin-left: 5%;
    margin-bottom: 6%;
    
}

.timeline-item:nth-child(even) .timeline-content {
    order: 2;
    margin-right: 10%;
    margin-left: 15%;
    padding: 1% 0;
}

.timeline-item:nth-child(even) .timeline-image {
    order: 1;
    margin-right: 6%;
    margin-bottom: 6%; 
}

.timeline-item .timeline-content h2,
.timeline-item .timeline-content p {
    margin: 0;
    width: 90%;
    padding: 4% 0;
}

.timeline-item .timeline-image img {
    border-radius: 8px;
    margin: 0% 0;
    
}

@media (max-width: 768px) {
    .timeline-bar {
        left: 0;
        width: 2px;
        margin-left: 0;
    }

    .timeline-item {
        flex-direction: column;
        align-items: flex-start;
    }

    .timeline-item .timeline-content,
    .timeline-item .timeline-image {
        width: 90%;
        margin: 10px 0;
        order: initial;
        text-align: left;
    }

    .timeline-item .timeline-content {
        margin-left: 0;
        font-size: 1.5rem;
    }

    .timeline-item .timeline-image {
        margin-right: 0;
    }
}

}

#progress-bar-container li {
    list-style:none;
    float:left;
    width:20%;
    text-align:center;
    color:#aaa;
    
    
    cursor:pointer;
    font-weight:700;
    transition:all ease 0.2s;
    vertical-align:bottom;
    height:60px;
    position:relative;
}

#progress-bar-container li .step-inner {
    position:absolute;
    width:100%;
    bottom:-150%;
    top: 260%;
    font-size: 2vw;
}

#progress-bar-container li.active, #progress-bar-container li:hover {
    color:#fff; 
    text-shadow: 0 1px 0 #fff, 0 1px 0 #000000;
}

#progress-bar-container li:after {
    content:" ";
    display:block;
    width:6px;
    height:6px;
    background:#777;
    margin:auto;
    border:solid 7px #fff;
    border-radius:50%;
    margin-top:50px; 
    box-shadow:0 2px 13px -1px rgba(0,0,0,0.3);
    transition:all ease 0.2s;
     
}

#progress-bar-container li:hover:after {
    background:rgb(0, 255, 64, 1.0);
}

#progress-bar-container li.active:after {
   background:#00AFA7;
}

#progress-bar-container #line {
    width:80%;
    margin:auto;
    background: #eee;
    height:10px;
    position:absolute;
    left:10%;
    top:72%;
    z-index:1;
    border-radius:50px;
    transition:all ease 0.9s;
}

#progress-bar-container #line-progress {  
    content:" ";
    width:3%;
    height:100%;
    background: #0826BD;     
    background: linear-gradient(to right, #AF0000 0%,#FFC300 50%, #5EF828 100%); 
    position:absolute;

    z-index:2;
    border-radius:50px;
    transition:all ease 0.9s;
    filter: brightness(1.5);
}

#progress-content-section {
    width:90%;
    margin: auto;

    background: #f3f3f3;
    border-radius: 20px;
}

#progress-content-section .section-content {
    padding:30px 40px;
    margin-top: 10%;
    text-align:center;
}

#progress-content-section .section-content h2 {
    font-size:2.5vw;
    
    color:#333;
    letter-spacing:1px;
}

#progress-content-section .section-content p {
    font-size:1.5vw;
    line-height:1.8em;
    color:#777;
}

#progress-content-section .section-content {
    display:none;
    animation: FadeInUp 700ms ease 1;
    animation-fill-mode:forwards;
    transform:translateY(15px);
    scale: 100%;
    opacity:0;
}

#progress-content-section .section-content.active {
    display:block;
}

@keyframes FadeInUp {
    0% {
        transform:translateY(15px);
        opacity:0;
        scale: 0%;
    }
    80% {
        transform:translateY(20px);
        scale: 110%;
        opacity:0.8;
    }
    
    100% {
        transform:translateY(0px);
        opacity:1;
        scale: 100%;
    }
}
/*---------------------------TIMELINE--------------------------*/



/* Variables de couleur */
:root {
    --primary: #acaebb;
    --dark-primary: #303F9F;
    --light-primary: #C5CAE9;
    --primary-text: #212121;
    --secondary-text: #757575;
    --timeline-circle-gradient: linear-gradient(135deg, #6DD5FA, #FFFFFF); 
    --timeline-circle-border: #000;
}

section {
    padding: 15% 2%;
    margin-top: 0;
    position: relative;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 700; /* Police en gras */
}

.timeline {
    position: relative;
}

.timeline-circle {
    width: 2vw;
    height: 2vw;
    background: var(--timeline-circle-gradient); 
    border: 1px solid var(--timeline-circle-border); 
    border-radius: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999999;
    margin-top: 2%;
}

.timeline::before {
    content: '';
    background: var(--light-primary);
    width: 0.5vw;
    height: 95%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 6;
}

.timeline-start-circle {
    width: 26vw;
    height: 10vh;
    background: linear-gradient(135deg, #4CAF50, #234a25);
    border-radius: 20px;
    position: relative;
    top: 8%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99999998;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.8vw;
    text-align: center;
    border: 2px solid #1B5E20;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s, border-color 0.3s;
}

.timeline-start-circle:hover {
    background: linear-gradient(135deg, #66BB6A, #43A047);
    transform: translate(-50%, -50%) scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
    border-color: #1B5E20;
}

@media screen and (max-width: 768px) {
    .timeline-start-circle {
        width: 35vw;
        height: 12vh;
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 768px) {
    .timeline-start-circle {
        width: 30vw;
        height: 10vh;
        font-size: 1.2rem;
    }
}

.timeline-item {
    width: 100%;
    margin-top: 10%;
    position: relative;
}

.timeline-item:nth-child(odd) .timeline-content {
    float: left;
    padding: 2% 4%;
    width: 45%;
}

.timeline-item:nth-child(odd) .date {
    right: 0;
    left: auto;
}

.timeline-item:nth-child(odd) .timeline-content::after {
    content: '';
    position: absolute;
    border-style: solid;
    width: 0;
    height: 0;
    top: 30px;
    right: -15px;
    border-width: 10px 0 10px 15px;
    border-color: transparent transparent transparent #f5f5f5;
}

.timeline-item:nth-child(even) .timeline-content {
    float: right;
    padding: 2% 4%;
    width: 45%;
}

.timeline-item:nth-child(even) .date {
    left: 0;
    right: auto;
}

.timeline-item:nth-child(even) .timeline-content::after {
    content: '';
    position: absolute;
    border-style: solid;
    width: 0;
    height: 0;
    top: 30px;
    left: -15px;
    border-width: 10px 15px 10px 0;
    border-color: transparent #f5f5f5 transparent transparent;
}

.timeline-item::after {
    content: '';
    display: block;
    clear: both;
}

.timeline-content {
    position: relative;
    padding: 3% 5%;
    border-radius: 12px;
    background: #ffffff;
    box-shadow: 0 10px 15px -10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
    width: 45%;
    font-family: 'Roboto', sans-serif;
    color: var(--primary-text);
    font-weight: bold; /* Texte en gras */
}

.timeline-content:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 20px -10px rgba(0, 0, 0, 0.3);
}
.timeline-content h2 {
    margin-top: 0;
    font-size: 2.2em;
    font:  sans-serif;
    font-weight: bold;
    color: var(--dark-primary); 
    background: linear-gradient(135deg, #000000, #6b6b6b);
    background-clip: text; 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
    padding-bottom: 10px;
    border-bottom: 2px solid #eeeeee;
}


.timeline-content p {
    font-size: 1.2rem;

    line-height: 1.6;
    margin: 10px 0;
    font-weight: bold;
    font-family: 'Bogart', sans-serif;
}

.timeline-content a {
    font-size: 1rem;
    color: var(--primary);
    text-decoration: none;
    padding: 10px 20px;
    background: linear-gradient(135deg, #4CAF50, #234a25);
    border-radius: 5px;
    box-shadow: 0 1px 3px -1px rgba(0, 0, 0, 0.6);
    transition: background 0.3s, transform 0.3s;
}

.timeline-content a:hover,
.timeline-content a:active,
.timeline-content a:focus {
    background: linear-gradient(135deg, #66BB6A, #43A047);
    transform: scale(1.05);
}

.timeline-img {
    width: 100%;
    height: auto;
    border: 4px solid rgba(0, 0, 0, 0.713);
    border-radius: 12px;
    position: relative;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2); 
    margin-bottom: 15px;
    transition: transform 0.3s, box-shadow 0.3s, border-width 0.3s;
}

.timeline-img:hover {
    transform: scale(1.13);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
    border-width: 5px; 
    filter: brightness(113%); 
}

.timeline-img::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 12px;
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.3); 
    pointer-events: none; 
    opacity: 0;
    transition: opacity 0.3s;
}

.timeline-img:hover::after {
    opacity: 1;
}


.a-style {
    margin: 0;
    background: var(--primary);
    color: #FFFFFF;
    display: inline-block;
    border-radius: 5px;
    padding: 10px 20px;
    box-shadow: 0 1px 3px -1px rgba(0, 0, 0, 0.6);
    text-decoration: none;
    transition: background 0.3s;
}


.a-style:hover,
.a-style:active,
.a-style:focus {
    background: #4fb2d6;
}

.timeline-card {
    padding: 0 !important;
}

.timeline-card p {
    padding: 0 20px;
    color: var(--primary-text);
}

.timeline-card a {
    margin-left: 20px;
}

.timeline-img-header h2 {
    color: #FFFFFF;
    position: absolute;
    bottom: 5px;
    left: 20px;
}

blockquote {
    margin-top: 0;
    color: var(--secondary-text);
    border-left: 5px solid var(--primary);
    padding: 0 20px;
}

.date {
    background: linear-gradient(135deg, #467683, #3e597b);
    display: inline-block;
    color: #ffffff;
    padding: 10px 20px;
    position: absolute;
    opacity: 0;
    margin-top: 2%;
    border-radius: 20px;
    font-size: 2.3vw;
    font-weight: bold;
    z-index: 999;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.3s;
}

.date:hover {
    background: linear-gradient(135deg, #50809e, #356a72);
    transform: scale(1.05);
}

.date--left {
    transform: translateX(-50%);
    margin-right: 28%;
}

.date--right {
    transform: translateX(50%);
    margin-left: 28%;
}

@media screen and (max-width: 768px) {
    .date--left,
    .date--right {
        left: 50%;
        transform: translateX(-50%);
        margin-left: 0;
        margin-right: 0;
    }

    .timeline-item:nth-child(odd) .timeline-content,
    .timeline-item:nth-child(even) .timeline-content {
        float: none;
        width: 100%;
        padding: 2%;
        margin-left: 0;
        margin-right: 0;
    }

    .timeline-item:nth-child(odd) .timeline-content::after,
    .timeline-item:nth-child(even) .timeline-content::after {
        left: 50%;
        transform: translateX(-50%);
    }

    .timeline {
        padding-top: 15%;
    }

    .timeline-circle {
        left: 2vw;
        transform: none;
    }

    .timeline::before {
        left: 2vw;
        transform: none;
    }
}


/* ---------------------------------FRIENDS------------------------------------------------- */
.friends-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2vw;
    margin-top: 35%;
    padding-bottom: 4%;
}

.friend-item {
    background-color: #9c9c9c;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    text-align: center;
    font-size: 1.5rem;
    line-height: 1.5;
    height: 70vh;
}

.friend-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.friend-item h3 {
    margin-top: 0;
    font-size: 1.9rem;
    color: #ffffff;
    background: linear-gradient(to right, #127b30, #7ac364);
    padding: 10px;
    border-radius: 8px;
    text-shadow: 0 0 1px #000000, 0 0 1px #000000, 0 0 1px #000000, 0 0 1px #000000, 0 0 1px #000000, 0 0 1px #000000, 0 0 1px #000000;
}

@keyframes textGlow {
    0% {
        text-shadow: 0 0 1px #fff, 0 0 1px #fdfdfd, 0 0 1px #b8b8b8, 0 0 1px #f6f6f6, 0 0 1px #969696, 0 0 1px #b3b3b3, 0 0 1px #ffffff;
    }
    50% {
        text-shadow: 0 0 1px #fff, 0 0 3px #fdfdfd, 0 0 1px #b8b8b8, 0 0 3px #f6f6f6, 0 0 3px #969696, 0 0 1px #b3b3b3, 0 0 3px #ffffff;
    }
    53% {
        text-shadow: 0 0 1px #fff, 0 0 2px #fdfdfd, 0 0 1px #b8b8b8, 0 0 2px #f6f6f6, 0 0 2px #969696, 0 0 1px #b3b3b3, 0 0 3px #ffffff;
    }
    100% {
        text-shadow: 0 0 1px #fff, 0 0 1px #fdfdfd, 0 0 1px #b8b8b8, 0 0 1px #f6f6f6, 0 0 1px #969696, 0 0 1px #b3b3b3, 0 0 1px #ffffff;
    }
}

.friend-content {
    position: relative;
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 12px;
}

.friend-content img {
    width: 90%;
    height: 70%;
    object-fit: cover;
    margin-top: -15%;
    border-radius: 12px;
    border: 5px solid #0000006e;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.806);
    transition: transform 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.friend-content img:hover {
    transform: scale(1.05) rotate(2deg);
    border-color: #7a7c7c00;
}

.friend-content .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
}

.friend-content .overlay p {
    font-size: 1.2rem;
}

.friend-content .icons {
    position: absolute;
    bottom: 4%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    z-index: 99999998;
}

.friend-content .icons img {
    width: 3.2vw;
    height: auto;
    transition: transform 0.3s ease;
    background-color: rgb(255, 255, 255);
    border: solid 0.08em;
    border-color: #00000094;
}

.friend-content .icons img:hover {
    transform: scale(1.2);
}

.friend-content:hover .overlay {
    opacity: 1;
}

.role {
    top: -25%;
    font-size: 1.5rem;
    color: #ffffff;
    background: linear-gradient(to right, #1f7138, #2f7d18);
    padding: 10px;
    border-radius: 8px;
    text-shadow: 0 0 1px #000000, 0 0 1px #000000, 0 0 1px #000000, 0 0 1px #000000, 0 0 1px #000000, 0 0 1px #000000, 0 0 1px #000000;
    margin-top: 10px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.role:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 768px) {
    .friend-item {
        height: auto;
    }

    .friend-content {
        height: auto;
    }

    .friend-content .icons img {
        width: 5vw;
    }
}


/* ----------------------------------------------------------------------------- */

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* -------------------------------------------- */
.parallax {
    position: relative;
    width: 100%;
    height: 105vh; 
    overflow: hidden;
    margin-bottom: -5%;
}

.parallax .background-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../media/Forestpt1.png') no-repeat center center;
    background-size: cover;
    z-index: -1; 
}

.parallax .layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    will-change: transform;
}

#plain {
    z-index: 2; 
    top: -5%;
}

#sky {
    z-index: 0; 
    width: 100%; 
}