* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: Oswald, sans-serif;
    
    
}
p{
    font-family: 'Bogart', sans-serif;
}

.band {
    position: absolute; 
    left: -10%;
    margin-left: -5.2%;
    margin-top: -2%;
    width: 200%;
    height: 10vh;
    background: linear-gradient(135deg, rgba(88, 200, 153, 0.6), rgba(45, 140, 85, 0.6)); 
    z-index: 9999; 
    margin-bottom: -3%;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
    backdrop-filter: blur(10px);
    transition: all 0.3s ease; 
}


.band:hover {
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
    transform: scale(1.01); /* Légère mise à l'échelle pour un effet de survol */
}


.repertory {
    position: relative;
    padding: 1% 2%;
    left: 15%;
    width: 80%; 
    max-width: 800px; 
    background-color: rgba(206, 206, 206, 0.3);
    backdrop-filter: blur(200px);
    border: 2px solid #ccc;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Bogart', sans-serif;
    font-weight: 600;
    font-size: 3vw; 
    text-decoration: none;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    color: white;
    z-index: 3;
    top: 10%;
    margin: 13% 8% ;
   
}

@media (max-width: 768px) {
    .repertory {
        font-size: 4vw; /* Adjust font size for smaller screens */
    }
}

@media (max-width: 480px) {
    .repertory {
        font-size: 5vw; /* Further adjust font size for smaller screens */
    }
}


.repertory:hover {
    background-color: rgba(151, 151, 151, 0.267);
}


section {
    top: -6%;
    margin-top: -3%;
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}



section img {
    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
   

}
.sec {
    position: relative;
    top: -1%;
    padding: 0;
    background: linear-gradient(135deg, #4b8652, #457b4b); 
    height: 80%;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
    overflow: hidden; 
    padding: 20px;
    transition: transform 0.3s ease-in-out;  
}

.sec::before {
    content: '';
    position: absolute;
    top: -0.5%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 3vh;
    background: linear-gradient(135deg, #ffffff, #eeeeee); 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out, ;
    opacity: 0.8;
    
}
/* --- Start progress bar --- */

.process-wrapper {
    
    max-width:100%;
    position: relative;
    top: 9%;
}
#progress-bar-container {
    position:relative;
    width:100%;

    margin:auto;
    height:150px;
    margin-top:4.5%;
}

#progress-bar-container ul {
    padding:0;
    margin:0;
    padding-top:15px;
    z-index:9999;
    position:absolute;
    width:100%;
    margin-top:-10px;
}

#progress-bar-container li:before {
    content:" ";

    display:block;
    margin:auto;
    width:50px;
    height:50px;
    border-radius:50%;
    border:solid 2px #1F3B29;
    transition:all ease 0.3s;
     
}

#progress-bar-container li.active:before, #progress-bar-container li:hover:before {
    border:solid 2px #fff;
         
    background: linear-gradient(to right, #fff 0%,#00A7AF 100%); .timeline {
    position: relative;
    max-width: 95%;
    margin: 0 auto;
    top: 10%;
    font-family: cursive; 
}

.timeline-bar {
    position: absolute;
    width: 1vw;
    background: linear-gradient(to bottom, #ffdd00, #fbb034);
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -0.5vw;
    border-radius: 1vw;
}

.timeline-item {
    display: flex;
    align-items: stretch;
    padding: 2% 0;
    position: relative;
    width: 100%;
    justify-content: space-between;
}

.timeline-item .timeline-circle {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    left: 50%;
    margin-left: -10px;
    z-index: 1;
}

.timeline-item .timeline-content,
.timeline-item .timeline-image {
    width: 60%;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
}

.timeline-item .timeline-content {
    padding: 0%;
    height: 0%;
    margin-top: 5%;
    background: rgba(206, 206, 206, 0.3);
    backdrop-filter: blur(200px);
    border: 2px solid #ccc;
    border-radius: 8px;
    text-align: center;
    font-size: 1.5rem;
    line-height: 1.2; 
}

.timeline-item:nth-child(odd) .timeline-content {
    order: 1;
    margin-left: 5%;
    margin-right: 5%;
}

.timeline-item:nth-child(odd) .timeline-image {
    order: 2;
    margin-left: 5%;
    margin-bottom: 6%;
}

.timeline-item:nth-child(even) .timeline-content {
    order: 2;
    margin-right: 10%;
    margin-left: 15%;
    padding: 1% 0;
}

.timeline-item:nth-child(even) .timeline-image {
    order: 1;
    margin-right: 6%;
    margin-bottom: 6%; 
}

.timeline-item .timeline-content h2,
.timeline-item .timeline-content p {
    margin: 0;
    width: 90%;
    padding: 4% 0;
}

.timeline-item .timeline-image img {
    border-radius: 8px;
    margin: 0% 0;
}

@media (max-width: 768px) {
    .timeline-bar {
        left: 0;
        width: 2px;
        margin-left: 0;
    }

    .timeline-item {
        flex-direction: column;
        align-items: flex-start;
    }

    .timeline-item .timeline-content,
    .timeline-item .timeline-image {
        width: 90%;
        margin: 10px 0;
        order: initial;
        text-align: left;
    }

    .timeline-item .timeline-content {
        margin-left: 0;
        font-size: 1.5rem;
    }

    .timeline-item .timeline-image {
        margin-right: 0;
    }
}

}

#progress-bar-container li {
    list-style:none;
    float:left;
    width:20%;
    text-align:center;
    color:#aaa;
    
    
    cursor:pointer;
    font-weight:700;
    transition:all ease 0.2s;
    vertical-align:bottom;
    height:60px;
    position:relative;
}

#progress-bar-container li .step-inner {
    position:absolute;
    width:100%;
    bottom:-150%;
    top: 260%;
    font-size: 2vw;
}

#progress-bar-container li.active, #progress-bar-container li:hover {
    color:#fff; 
    text-shadow: 0 1px 0 #fff, 0 1px 0 #000000;
}

#progress-bar-container li:after {
    content:" ";
    display:block;
    width:6px;
    height:6px;
    background:#777;
    margin:auto;
    border:solid 7px #fff;
    border-radius:50%;
    margin-top:50px; /*juste les petits points*/
    box-shadow:0 2px 13px -1px rgba(0,0,0,0.3);
    transition:all ease 0.2s;
     
}

#progress-bar-container li:hover:after {
    background:rgb(0, 255, 64, 1.0);
}

#progress-bar-container li.active:after {
   background:#00AFA7;
}

#progress-bar-container #line {
    width:80%;
    margin:auto;
    background: #eee;
    height:10px;
    position:absolute;
    left:10%;
    top:72%;
    z-index:1;
    border-radius:50px;
    transition:all ease 0.9s;
}

#progress-bar-container #line-progress {  
    content:" ";
    width:3%;
    height:100%;
    background: #0826BD;     
    background: linear-gradient(to right, #AF0000 0%,#FFC300 50%, #5EF828 100%); 
    position:absolute;

    z-index:2;
    border-radius:50px;
    transition:all ease 0.9s;
    filter: brightness(1.5);
}

#progress-content-section {
    width:90%;
    margin: auto;

    background: #f3f3f3;
    border-radius: 20px;
}

#progress-content-section .section-content {
    padding:30px 40px;
    margin-top: 10%;
    text-align:center;
}

#progress-content-section .section-content h2 {
    font-size:2.5vw;
    
    color:#333;
    letter-spacing:1px;
}

#progress-content-section .section-content p {
    font-size:1.5vw;
    line-height:1.8em;
    color:#777;
}

#progress-content-section .section-content {
    display:none;
    animation: FadeInUp 700ms ease 1;
    animation-fill-mode:forwards;
    transform:translateY(15px);
    scale: 100%;
    opacity:0;
}

#progress-content-section .section-content.active {
    display:block;
}

@keyframes FadeInUp {
    0% {
        transform:translateY(15px);
        opacity:0;
        scale: 0%;
    }
    80% {
        transform:translateY(20px);
        scale: 110%;
        opacity:0.8;
    }
    
    100% {
        transform:translateY(0px);
        opacity:1;
        scale: 100%;
    }
}
/*---------------------------TIMELINE--------------------------*/
.timeline {
    position: relative;
    max-width: 95%;
    margin: 0 auto;
    top: 10%;
    font-family: 'Bogart', sans-serif; /* Utilisation de la police cursive */
}

.timeline-bar {
    position: absolute;
    width: 1vw;
    background: linear-gradient(to bottom, #ffdd00, #fbb034);
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -0.5vw;
    border-radius: 1vw;
}

.timeline-item {
    display: flex;
    align-items: stretch;
    padding: 2% 0;
    position: relative;
    width: 100%;
    justify-content: space-between;
}

.timeline-item .timeline-circle {
    position: absolute;
    width: 2vw;
    height: 4vh;
    background-color: #fff;
    border-radius: 50%;
    left: 50%;
    margin-left: -1%;
    margin-top: 14%;
    z-index: 1;
    opacity: 0; 
    transition: opacity 0.6s ease-in-out, transform 0.6s ease-in-out; 
}

.timeline-item .timeline-circle.active {
    opacity: 1; 
    transform: scale(1.2); 
}

.timeline-item .timeline-content,
.timeline-item .timeline-image {
    width: 60%;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;

}

.timeline-item .timeline-content {
    padding: 0%;
    height: 0%;
    margin-top: 5%;
    color: linen;
    box-shadow: 5px 4px 8px rgba(0, 0, 0, 0.4); 

    background: rgba(206, 206, 206, 0.3);
    backdrop-filter: blur(200px);
    border: 4px solid #ccc;
    border-radius: 8px;
    text-align: center;
    font-size: 1.5rem;
    line-height: 1.2; 
}

@keyframes borderAnimation {
    0% {
        border-color: #ffffff;
    }
    50% {
        border-color: #71f9cc;
    }
    75% {
        border-color: #5c6864;
    }
    100% {
        border-color: #ffffff;
    }
}

.timeline-item .timeline-image img {
    border-radius: 8px; 
    margin: 0% 0;
    border: 5px solid;
    border-image-slice: 1;
    animation: borderAnimation 5s linear infinite;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); 
}

.timeline-item .timeline-image img:hover {
    transform: scale(1.06) rotate(0.2deg); 
    
}


.timeline-item:nth-child(odd) .timeline-content {
    order: 1;
    margin-left: 5%;
    margin-right: 5%;
}

.timeline-item:nth-child(odd) .timeline-image {
    order: 2;
    margin-left: 5%;
    margin-bottom: 6%;
}

.timeline-item:nth-child(even) .timeline-content {
    order: 2;
    margin-right: 10%;
    margin-left: 15%;
    padding: 0.5% 0;
}

.timeline-item:nth-child(even) .timeline-image {
    order: 1;
    margin-right: 6%;
    margin-bottom: 6%; 
}

.timeline-item .timeline-content h2,
.timeline-item .timeline-content p {
    margin: 0;
    width: 90%;
    padding: 2% 0;
}

.timeline-item .timeline-image img {
    border-radius: 8px;
    margin: 0% 0;
}

@media (max-width: 768px) {
    .timeline-bar {
        left: 0;
        width: 2px;
        margin-left: 0;
    }

    .timeline-item {
        flex-direction: column;
        align-items: flex-start;
    }

    .timeline-item .timeline-content,
    .timeline-item .timeline-image {
        width: 90%;
        margin: 10px 0;
        order: initial;
        text-align: left;
    }

    .timeline-item .timeline-content {
        margin-left: 0;
        font-size: 1.5rem;
    }

    .timeline-item .timeline-image {
        margin-right: 0;
    }
}

/* ---------------------------------FRIENDS-------------------------------------------------x */


.friends-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2vw;
    margin-top: 35%;
    padding: 20px;
}

.friend-item {
    background-color: #9c9c9c;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    text-align: center;
    font-size: 1.5rem;
    line-height: 1.5;
    height: 60vh; /* Ajustez la hauteur selon vos besoins */
}

.friend-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.friend-item h3 {
    margin-top: 0;
    font-size: 1.9rem; /* Ajustez la taille du texte selon vos besoins */
    color: #ffffff;
    background: linear-gradient(to right, #127b30, #7ac364);
    padding: 10px;
    border-radius: 8px;
    text-shadow: 0 0 1px #000000, 0 0 1px #000000, 0 0 1px #000000, 0 0 1px #000000, 0 0 1px #000000, 0 0 1px #000000, 0 0 1px #000000;
    /* animation: textGlow 4s ease-in-out infinite;  */
}

@keyframes textGlow {
    0% {
        text-shadow: 0 0 1px #fff, 0 0 1px #fdfdfd, 0 0 1px #b8b8b8, 0 0 1px #f6f6f6, 0 0 1px #969696, 0 0 1px #b3b3b3, 0 0 1px #ffffff;
    }
    50% {
        text-shadow: 0 0 1px #fff, 0 0 3px #fdfdfd, 0 0 1px #b8b8b8, 0 0 3px #f6f6f6, 0 0 3px #969696, 0 0 1px #b3b3b3, 0 0 3px #ffffff;
    }
    53% {
        text-shadow: 0 0 1px #fff, 0 0 2px #fdfdfd, 0 0 1px #b8b8b8, 0 0 2px #f6f6f6, 0 0 2px #969696, 0 0 1px #b3b3b3, 0 0 3px #ffffff;
    }
    100% {
        text-shadow: 0 0 1px #fff, 0 0 1px #fdfdfd, 0 0 1px #b8b8b8, 0 0 1px #f6f6f6, 0 0 1px #969696, 0 0 1px #b3b3b3, 0 0 1px #ffffff;
    }
}

.friend-content {
    position: relative;
    width: 100%;
    height: 80%; /* Ajustez la hauteur selon vos besoins */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; /* Pour recadrer le contenu qui dépasse */
    border-radius: 12px; /* Bords arrondis pour le conteneur d'image */
}

.friend-content img {
    width: 90%; 
    height: 80%; 
    object-fit: cover; 
    border-radius: 12px; 
    border: 5px solid #fff; 
    transition: transform 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.friend-content img:hover {
    transform: scale(1.05) rotate(2deg);
    border-color: #7a7c7c00;
}

.friend-content .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
}

.friend-content:hover .overlay {
    opacity: 1;
}

.repertory {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 20px;
    animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* -------------------------------------------- */
.parallax {
    position: relative;
    width: 100%;
    height: 100vh; 
    overflow: hidden;
}

.parallax .background-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../media/Forestpt1.png') no-repeat center center;
    background-size: cover;
    z-index: -1; 
}

.parallax .layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    will-change: transform; /* Optimisation des performances */
}

#plain {
    z-index: 2; 
    top: -5%;
}

#sky {
    z-index: 0; 
    width: 100%; 
}
